<!--<md-card>
  <md-grid-list cols="6" rowHeight="100px">
    <md-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
      {{tile.text}}
    </md-grid-tile>
  </md-grid-list>
</md-card>-->
<md-card>
  <h1>{{ buildDefinition.name }}</h1>
  <md-grid-list cols="6" rowHeight="40px">
    <md-grid-tile colspan="4" [style.background]="getBuildColor()">
      <h2>{{ lastBuild.buildNumber }} ({{ lastBuild.reason }})</h2><br />
    </md-grid-tile>
    <md-grid-tile colspan="2" rowspan="2" [style.background]="getBuildColor()">
      <div>
        Build Unit Tests :
        <ul>
          <li>Tests : 475</li>
          <li>Succed : 455</li>
          <li>Failed : <span style="color:red">20</span></li>
        </ul>
      </div>
    </md-grid-tile>
    <md-grid-tile *ngFor="let indicator of indicators" [style.background]="indicator.color">
      <follow-quality-indicator [indicatorName]="indicator.name" [indicatorValue]="indicator.value"></follow-quality-indicator>
    </md-grid-tile>
  </md-grid-list>
</md-card>