.card_header {
  font-weight: bold;
  color:#084B8A;
  margin: -15px 0px 5px 0px;
}

md-card {
  color: rgba(0,0,0,0.87);
  background-color: white;
  margin: 8px;
  width: 630px;
}

table tr td {
    text-align: justify;
    font-size: 10pt;
    height: 20px;
    margin: 0px;
    padding: 0px;
    line-height: 0pt;
    vertical-align: bottom;
}

a2 {
  line-height: -4pt;
}

follow-quality-indicator {
  margin: 0px;
  padding: 0px;
  align-content: center;
}